$main-font: "Source Sans Pro";
$orange: #FFA837;
$orange-light: lighten(#FFA837, 10%);

$blue: #0369d7;
$blue-light: lighten(#0369d7, 10%);

$grey-light: lighten(#5a5759, 10%);

@mixin btn_orange {
    border-radius: 30px;
    background-color: $orange;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

@mixin btn_blue {
    padding: 15px 25px;
    border-radius: 30px;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

@mixin btn_grey {
    padding: 10px 25px;
    border-radius: 30px;
    border: 2px solid grey;
    color:grey;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}